.index-page{
    width: 90%;
    @include md{
        width: 70%;
    }
    @include lg{
        width: 60%;
    }
    input, select{
        color: getColor(text);
    }
    .search-box{
        border: 1px solid getColor(border);
        border-radius: 20px;
        display: flex;
        height: 80vh;

        z-index: 1;
        @include md{
            height: 70vh;
        }
        width: 100%;
        align-items: center;
        flex-direction: column;
        color: getColor(text);
        &-title{
            font-family: $primary-font;
            font-size: 1rem;
            overflow: hidden;
            @include md{
                font-size: 1.2rem;
            }
            margin: 20px 80px;
            text-align: center;
        }
        &-description{
            font-size: 1rem;
            @include lg{
                font-size: 1.5rem;

            }
            text-align: justify;
            margin: 0 40px;
        }
        &-form{
            width: 80%;
            display: flex;
            height: 50%;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            div, select, button{
                margin: 10px;
                width: 100%;
            }
            div{
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-direction: row;
                border: 1px solid getColor(border);
                padding: 20px 0;
                border-radius: 15px;
                svg{
                    @include lg{
                        width: 30px;
                    }
                    width: 20px;
                }
                input{
                    border: none;
                    width: 80%;
                    background-color: transparent
                }
            }
            select{
                padding: 20px 20px;
                border: 1px solid getColor(border);
                background-color: transparent;
                border-radius: 15px;
                text-align: center;
            }
            button{
                background-color: $green;
                color: map-get($colors-dark, bg );
                border: none;
                padding: 25px;
                border-radius: 15px;
            }
        }
    }
}