@import './index.scss';

@font-face{
    font-family: "SFProDisplay";
    src: url("/fonts/SFPRODISPLAYREGULAR.woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face{
    font-family: "SK Concretica";
    src: url("/fonts/SKConcretica.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

body{
    font-family: getColor, sans-serif;
    background-color: getColor(bg);
    transition: all 1s ease-in;
}

.page-layout{
    min-height: 95vh;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    border: {
        top: 1px solid getColor(border);
    };
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;
    color: getColor(text);

}

input:focus-visible, select:focus-visible{
    outline: none;
}