@import './index.scss';

@font-face{
    font-family: "SFProDisplay";
    src: url("/fonts/SFPRODISPLAYREGULAR.woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face{
    font-family: "SK Concretica";
    src: url("/fonts/SKConcretica.ttf");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

body{
    font-family: $secondary-font, sans-serif;
    background-color: $white;
}

.page-layout{
    min-height: 95vh;
    margin-top: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    border: {
        top: 1px solid $light-black;
    };
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vh;

}

input:focus-visible, select:focus-visible{
    outline: none;
}