//Color Definitions

$green: #CFFE15;
$black: #252525;
$white: #f0f0f0;
$light-black: #4A4A4A;

//Breakpoint Definitions
$screen-xl-min: 1323px;
$screen-lg-min: 1024px;
$screen-md-min: 768px;
$screen-sm-min: 576px;

//Font Definitions
$primary-font: "SK Concretica";
$secondary-font: "SFProDisplay";
