//Color Definitions
//light mode
$colors: (
    bg:#f0f0f0,
    text: #252525,
    border: #4A4A4A,
);

$colors-dark: (
    bg:#252525,
    text: #f0f0f0,
    border: #E0E0E0,
);

:root {
    @each $name, $color in $colors{
        --color-#{$name} : #{$color};
    }
}

@media(prefers-color-scheme: dark) {
    :root {
        @each $name, $color in $colors-dark{
            --color-#{$name} : #{$color};
        }
    }
}

@function getColor($color-name) {
    @return var(--color-#{$color-name});
}

$green: #64FF5C;
$light-green: #B1FFAD;

//Breakpoint Definitions
$screen-xl-min: 1323px;
$screen-lg-min: 1024px;
$screen-md-min: 768px;
$screen-sm-min: 576px;

//Font Definitions
$primary-font: "SK Concretica";
$secondary-font: "SFProDisplay";
